body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/vue.png'); /* Utilisation de l'image de fond */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.login-container {
    display: flex;
    justify-content: flex-end; /* Alignement de la carte à droite */
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 460px;
    background: rgba(126, 58, 39, 0.954); /* Fond semi-transparent similaire au login */
    padding: 40px;
    position: relative;
}

h2 {
    color: #ffffff; /* Titre en blanc */
    font-size: 77.711px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 1px;
    text-align: left;
}

/* Style des placeholders */
.input-field::placeholder {
    color: white;
    opacity: 0.8; /* Transparence légère */
}

/* Si vous utilisez des labels */
label {
    color: white;
}

.subheading {
    color: #ffffff;
    font-size: 15.041px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: #a54c33; /* Couleur complémentaire du login */
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    backdrop-filter: blur(7px); /* Effet de flou en arrière-plan */
}

.submit-button {
    width: 100%;
    height: 62.67px;
    border-radius: 18px;
    background: linear-gradient(90deg, #7E3A27 0.03%, #CB793D 101.88%);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-button:hover {
    background: linear-gradient(90deg, #CB793D 0.03%, #7E3A27 101.88%);
}

.continue-with {
    color: #ffffff; /* Texte beige clair */
    font-size: 12.534px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.social-btn {
    width: 225px;
    height: 45px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn.google {
    background-color: #a54c33; /* Couleur complémentaire */
}

.social-btn.facebook {
    background-color: #27407e; /* Couleur pour Facebook */
}

.additional-options p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.link {
    color: #D0CA9A; /* Texte beige */
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
